# **Pipeline Mixture of Experts**

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## **1.Data preparation**
### ELIA + MTO

In [ ]:
# Retrieve data
df_elia = pd.read_csv("../../Data/ELIA.csv", sep=";")
df_mto = pd.read_csv("../../Data/MTO_BELGIQUE_18_to_25.csv", sep=",")


df_offshore = df_elia[df_elia["Offshore/onshore"] == "Offshore"].copy()         # Keep only Offshore rows
df_offshore["Datetime"] = pd.to_datetime(df_offshore["Datetime"], utc=True)     # Convert Datetime to actual datetime
df_offshore = df_offshore.dropna(how="any")                                     # Drop empty rows
df_offshore = df_offshore.sort_values("Datetime").reset_index(drop=True)        # Sort values in chronological order

df_mto["valid_time"] = pd.to_datetime(df_mto["valid_time"], utc=True)           # Convert Datetime to actual datetime
df_mto = df_mto.dropna(how="any")                                               # Drop empty rows
df_mto = df_mto.sort_values("valid_time").reset_index(drop=True)                # Sort values in chronological order

# Visualization options
#df_elia.head(5)
#df_offshore.head(3)
#df_mto.head()

print("Offshore data")
print("=================================================")
print("Oldest date :", df_offshore["Datetime"].min())
print("Newest date :", df_offshore["Datetime"].max())
print("")
print("MTO data")
print("=================================================")
print("Oldest date :", df_mto["valid_time"].min())
print("Newest date :", df_mto["valid_time"].max())

Offshore data
=================================================
Oldest date : 2016-01-12 23:00:00+00:00
Newest date : 2025-12-01 22:45:00+00:00

MTO data
=================================================
Oldest date : 2018-01-01 00:00:00+00:00
Newest date : 2025-11-23 23:00:00+00:00

### Merge ELIA + MTO

In [ ]:
# Convert ELIA to hourly resolution
df_offshore_hourly_exact = df_offshore[df_offshore["Datetime"].dt.minute == 0].copy()
df_offshore_hourly_exact.head()

df_merged = df_offshore_hourly_exact.merge(
    df_mto,
    left_on="Datetime",
    right_on="valid_time",
    how="inner"
)
df_merged.head()

print("Merged data")
print("=================================================")
print("Oldest date :", df_merged["Datetime"].min())
print("Newest date :", df_merged["Datetime"].max())

,Datetime,Resolution code,Offshore/onshore,Region,Grid connection type,Measured & Upscaled,Most recent forecast,Most recent P10,Most recent P90,Day Ahead 11AM forecast,...,u100,v100,u10,v10,t2m,msl,sst,sp,latitude,longitude
0,2018-01-01 00:00:00+00:00,PT15M,Offshore,Federal,Elia,821.80,831.49,797.38,865.06,833.00,...,17.891388,12.289810,13.044540,9.531647,281.30188,99547.310,280.7588,99568.836,51.5,3.0
1,2018-01-01 01:00:00+00:00,PT15M,Offshore,Federal,Elia,812.10,832.30,793.81,869.35,833.10,...,19.008880,7.765930,14.131149,6.141098,281.37300,99638.310,280.7588,99659.280,51.5,3.0
2,2018-01-01 02:00:00+00:00,PT15M,Offshore,Federal,Elia,812.10,834.23,796.77,869.35,833.73,...,17.849350,5.749756,13.414413,4.661072,281.32764,99812.190,280.7588,99833.780,51.5,3.0
3,2018-01-01 03:00:00+00:00,PT15M,Offshore,Federal,Elia,809.06,830.88,787.94,869.17,832.64,...,16.603897,4.897415,12.725754,3.991196,281.15686,99922.060,280.7588,99943.300,51.5,3.0
4,2018-01-01 04:00:00+00:00,PT15M,Offshore,Federal,Elia,802.93,827.05,775.09,870.18,829.37,...,14.488632,5.378235,11.158417,4.428650,280.96695,99985.375,280.7588,100007.720,51.5,3.0

### Weather data

In [ ]:
# Retrieve data
df_mto = pd.read_csv("../../Data/MTO_BELGIQUE_18_to_25.csv", sep=",")
print("Oldest date :", df_mto["valid_time"].min())
print("Newest date :", df_mto["valid_time"].max())
df_mto.head(50)

Oldest date : 2018-01-01 00:00:00
Newest date : 2025-11-23 23:00:00

,valid_time,u100,v100,u10,v10,t2m,msl,sst,sp,latitude,longitude
0,2018-01-01 00:00:00,17.891388,12.289810,13.044540,9.531647,281.30188,99547.310,280.75880,99568.836,51.5,3.0
1,2018-01-01 01:00:00,19.008880,7.765930,14.131149,6.141098,281.37300,99638.310,280.75880,99659.280,51.5,3.0
2,2018-01-01 02:00:00,17.849350,5.749756,13.414413,4.661072,281.32764,99812.190,280.75880,99833.780,51.5,3.0
3,2018-01-01 03:00:00,16.603897,4.897415,12.725754,3.991196,281.15686,99922.060,280.75880,99943.300,51.5,3.0
4,2018-01-01 04:00:00,14.488632,5.378235,11.158417,4.428650,280.96695,99985.375,280.75880,100007.720,51.5,3.0
5,2018-01-01 05:00:00,13.108093,6.551071,10.175552,5.376297,280.83783,100030.000,280.75880,100051.750,51.5,3.0
6,2018-01-01 06:00:00,12.092590,8.058746,9.458969,6.582321,280.70764,100030.690,280.75880,100052.195,51.5,3.0
7,2018-01-01 07:00:00,11.249008,9.396912,8.729462,7.603607,280.65350,100036.940,280.75880,100058.625,51.5,3.0
8,2018-01-01 08:00:00,9.557251,10.433273,7.133972,8.263519,280.61160,100010.310,280.75880,100031.360,51.5,3.0
9,2018-01-01 09:00:00,7.701599,11.477905,5.403732,8.818115,280.54782,99980.375,280.75880,100001.560,51.5,3.0
10,2018-01-01 10:00:00,6.734360,11.268570,4.943527,9.002899,280.51932,99965.560,280.75880,99986.690,51.5,3.0
11,2018-01-01 11:00:00,3.387787,10.704315,2.164841,8.361633,280.52728,99848.500,280.75880,99870.440,51.5,3.0
12,2018-01-01 12:00:00,1.431473,10.554520,0.601593,8.077698,280.55533,99737.690,280.75880,99759.090,51.5,3.0
13,2018-01-01 13:00:00,0.330658,9.627960,-0.229095,7.181381,280.56082,99620.060,280.75880,99641.420,51.5,3.0
14,2018-01-01 14:00:00,0.613327,7.417328,0.281036,6.173141,280.13934,99548.375,280.75880,99570.080,51.5,3.0
15,2018-01-01 15:00:00,1.778656,4.515976,1.462631,4.089447,279.58157,99534.940,280.75880,99556.530,51.5,3.0
16,2018-01-01 16:00:00,4.249817,1.843384,3.741836,1.789032,279.33484,99587.940,280.75880,99609.200,51.5,3.0
17,2018-01-01 17:00:00,7.314712,0.276703,6.365250,0.487885,279.71920,99674.940,280.75880,99696.484,51.5,3.0
18,2018-01-01 18:00:00,10.155533,-1.040741,8.525940,-0.701111,280.52222,99744.190,280.75880,99766.125,51.5,3.0
19,2018-01-01 19:00:00,12.059998,-3.612686,9.665802,-2.785156,280.68884,99861.250,280.75880,99882.210,51.5,3.0
20,2018-01-01 20:00:00,13.457687,-2.856278,10.605225,-2.101349,280.79562,99996.690,280.75880,100017.640,51.5,3.0
21,2018-01-01 21:00:00,14.375305,-0.568680,11.202347,-0.257599,280.81537,100088.250,280.75880,100110.375,51.5,3.0
22,2018-01-01 22:00:00,15.860504,-1.363724,12.295197,-0.843903,280.60560,100167.440,280.76465,100189.170,51.5,3.0
23,2018-01-01 23:00:00,15.628006,-4.990418,12.143662,-3.703079,280.70490,100238.125,280.76465,100260.200,51.5,3.0
24,2018-01-02 00:00:00,14.548370,-7.200150,11.398117,-5.501678,280.49335,100350.625,280.76465,100373.390,51.5,3.0
25,2018-01-02 01:00:00,15.310013,-8.710663,12.015808,-6.738983,280.46155,100520.125,280.76465,100542.390,51.5,3.0
26,2018-01-02 02:00:00,14.709381,-8.820755,11.486984,-6.766693,280.49487,100673.690,280.76465,100695.650,51.5,3.0
27,2018-01-02 03:00:00,13.214432,-6.208252,10.495941,-4.751129,280.49368,100751.500,280.76465,100773.430,51.5,3.0
28,2018-01-02 04:00:00,12.776611,-3.862030,10.305939,-2.927338,280.39612,100856.750,280.76465,100878.290,51.5,3.0
29,2018-01-02 05:00:00,12.891678,-1.925247,10.433731,-1.424713,280.24470,100958.810,280.76465,100980.586,51.5,3.0
30,2018-01-02 06:00:00,12.230179,-1.241531,10.017197,-0.887070,280.16257,101022.060,280.76465,101043.670,51.5,3.0
31,2018-01-02 07:00:00,11.560303,-0.466919,9.508759,-0.242371,280.08270,101088.750,280.76465,101110.690,51.5,3.0
32,2018-01-02 08:00:00,10.734802,0.782135,8.795654,0.794739,279.93610,101138.440,280.76465,101160.470,51.5,3.0
33,2018-01-02 09:00:00,9.641266,2.185684,7.990143,1.962006,279.80023,101154.190,280.76465,101176.140,51.5,3.0
34,2018-01-02 10:00:00,8.514343,2.991394,7.017288,2.596527,280.06458,101177.440,280.76465,101199.800,51.5,3.0
35,2018-01-02 11:00:00,6.832123,4.083740,5.576843,3.588150,280.18616,101147.000,280.76465,101169.410,51.5,3.0
36,2018-01-02 12:00:00,4.289658,6.741959,3.257721,5.749313,280.34094,101037.690,280.76465,101060.016,51.5,3.0
37,2018-01-02 13:00:00,4.017609,9.410156,2.714172,7.543884,280.40850,100969.690,280.76465,100991.640,51.5,3.0
38,2018-01-02 14:00:00,2.286652,11.297165,1.037918,8.602615,280.57233,100821.690,280.76465,100843.625,51.5,3.0
39,2018-01-02 15:00:00,1.657806,12.970200,0.462677,9.633087,280.94604,100692.690,280.76465,100714.210,51.5,3.0
40,2018-01-02 16:00:00,-0.013870,14.462921,-0.788269,10.389160,280.96814,100530.810,280.76465,100551.990,51.5,3.0
41,2018-01-02 17:00:00,1.445679,16.022034,0.342789,11.582748,281.00482,100366.060,280.76465,100387.750,51.5,3.0
42,2018-01-02 18:00:00,6.113693,14.734940,3.905746,11.290375,281.78656,100250.250,280.76465,100271.340,51.5,3.0
43,2018-01-02 19:00:00,11.336121,9.623993,7.628540,7.547195,282.79758,100191.440,280.76465,100212.470,51.5,3.0
44,2018-01-02 20:00:00,11.174072,7.965988,7.628128,6.375244,282.85968,100092.810,280.76465,100114.440,51.5,3.0
45,2018-01-02 21:00:00,9.531280,11.342895,6.512619,8.774460,282.63696,99933.940,280.76465,99955.890,51.5,3.0
46,2018-01-02 22:00:00,10.454391,15.391647,7.332230,11.818741,282.68690,99767.560,281.42676,99788.940,51.5,3.0
47,2018-01-02 23:00:00,10.578659,15.930084,7.086777,11.899429,282.80194,99443.560,281.42676,99464.984,51.5,3.0
48,2018-01-03 00:00:00,13.387726,17.038483,9.181656,12.665833,283.04288,99088.750,281.42676,99110.266,51.5,3.0
49,2018-01-03 01:00:00,16.177979,16.238083,11.394943,12.047531,283.39545,98886.875,281.42676,98907.836,51.5,3.0